@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: green;
}

 .container {
        display: flex;
        justify-content: center;   
        align-items: center;       
        height: 100vh;             
        flex-direction: column;    
 }

.carta{
    width: 300px;
    height: 500px;
    background-color: white;
    border:1px solid black;
    border-radius: 4px;
    position: relative;
    margin-top: 20px;
}
.figura-bottom{
    position: absolute;
    top: 380px;
    left: 225px;
    font-size: 65px;
}

.figura-top{
    position: absolute;
    left: 40px;
    top: 10px;
    font-size: 65px;
}

.number{
    position: absolute;
    top: 150px;
    left: 110px;
    font-size: 130px;
}

.boton{
    margin-top:20px;
}